body {
  background-color:rgba(20, 150, 187, 0.5)
  }
  
h1 {
  color: white;
  font-family: Verdana;
  background-color: rgba(9, 49, 69, 0.8);
  border: 5px solid #00acd7;
  border-radius: 15px;
  }

p {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

  .center {
    text-align: center;
  }

  .cor-fonte {
    color: rgb(21, 142, 234);
  }

  .topnav {
    overflow: hidden;
    background-color:rgb(20, 150, 187,)
  }

  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 

  .topnav a:hover {
    background-color: #0c5c724d;
    color: #ffffff;
  }

  .margem {
    margin: 70px;
    padding: 70px
  }

  .sombra {
    text-shadow: 5px 5px 3px black;
  }