body {
  background-color:rgba(20, 150, 187, 0.5)
  }
  
h1 {
  color: white;
  font-family: Verdana;
  background-color: rgba(9, 49, 69, 0.8);
  border: 5px solid rgb(0, 172, 215);
  border-radius: 15px;
  }

p {
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

  .center {
    text-align: center;
  }

  .cor-fonte {
    color: rgb(21, 142, 234);
  }

  .topnav {
    overflow: hidden;
    background-color:rgba(9, 49, 69, 0.8);
    color: #ffffff;
    border: 5px solid rgb(0, 172, 215);
    border-radius: 10px;
    margin: 55px 525px 55px 525px;
  }

  .topnav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 

  .topnav a:hover {
    background-color:rgb(38, 70, 96);
    color: rgb(87, 250, 250);
  }

  .margem {
    margin: 70px;
    padding: 70px
  }

  .sombra {
    text-shadow: 5px 5px 3px black;
  }